src/main/resources/xsd/application.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" version="1.0">

    <xs:element name="applicationXml">
        <xs:complexType>
            <xs:annotation>
                <xs:documentation>Id заявки</xs:documentation>
            </xs:annotation>
            <xs:sequence>
                <xs:element name="application_id" type="xs:string"/>
                <xs:element name="ds_created" type="xs:string"/>
                <xs:element name="product_name" type="xs:string"/>
                <xs:element name="contract_id" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
